# =========================
#  コンテナ用の環境変数ファイル
# =========================
# コンテナ起動時に、このファイルを環境変数として読み込みます。
# 利用時は ENVFILE.env.sample を ENVFILE.env とリネームしてください。
# 使用例は run-local.sh をご覧ください。

# 処理のストップコード:
# この値を受け取ると処理を中止します。任意の値に書き換えてください。
CODE_STOP=1111111111111
